# MinIO Settings
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
AWS_REGION=us-east-1

# Nessie Settings
NESSIE_PORT=19120

# Spark Settings
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8080
SPARK_WORKER_WEBUI_PORT=8081
